SantanderBlazor/.vs
SantanderBlazor/SantanderBlazor.Shared/obj
SantanderBlazor/SantanderBlazor.Shared/bin
SantanderBlazor/SantanderBlazor.Server/obj
SantanderBlazor/SantanderBlazor.Server/bin
SantanderBlazor/SantanderBlazor.Client/bin
SantanderBlazor/SantanderBlazor.Client/obj
SantanderBlazor/SantanderBlazor.Client/Properties
