@inherits LayoutComponentBase
@using Telerik.Blazor.Components.RootComponent

<TelerikRootComponent>
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <p href="" target="_blank" class="ml-md-auto">Cerrar Sesion</p>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</TelerikRootComponent>
