@inherits LayoutComponentBase
@using Telerik.Blazor.Components.RootComponent
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

<TelerikRootComponent>
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <MatButton Raised="true" Style="margin-left:auto" @onclick="@logout" TrailingIcon="exit_to_app">Cerrar Sesion</MatButton>

        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</TelerikRootComponent>


@code
{
    void logout()
    {

        localStorage.RemoveItem("authToken");
        uriHelper.NavigateTo("\\");
        Toaster.Add("Saliste de tu cuenta", MatToastType.Warning, "Logout", " ", config =>
        {
            config.ShowCloseButton = true;
            config.ShowProgressBar = false;
            config.MaximumOpacity = 100;

            config.ShowTransitionDuration = 500;
            config.VisibleStateDuration = 500;
            config.HideTransitionDuration = 500;

            config.RequireInteraction = true;

        });
    }
}
